.PhoneInput {
    display: flex;
    justify-content: center !important;
    padding: 4px 12px 4px 12px !important;
    height: 48px !important;
    width: 100% !important;
    border-radius: 8px !important;
    border: 1px solid hsl(227, 20%, 59%) !important;
    font-size: 14px !important;
    color: #484848 !important;
}

.PhoneInput--focus {
    outline: #c5758a auto !important;
}

.PhoneInputInput {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.PhoneInputCountrySelect {
    color: #484848 !important;
    font-size: 12px !important;
    font-family: 'Courier New', Courier, monospace !important;
    padding: 10px 12px 10px 12px !important;
}

@media (min-width: 768px) {
    .PhoneInput {
        font-size: 14px !important;
    }
    .PhoneInputCountrySelect {
        font-size: 14px !important;
    }
}