.react-calendar {
    padding: 0 10px 0 10px !important;
    border-radius: 10px !important;
    box-shadow: #e7f3f8 !important;
}

.calender-body {
    background-color: #e7f3f8 !important;
}

/*day button*/
.react-calendar__tile {
    border-radius: 100% !important;
    flex: none !important;
    padding: 0px !important;
    width: 36px !important;
    height: 36px !important;
    color: #484848 !important;
    font-size: 12px !important;
}

.react-calendar__tile--active {
    background-color: #1ebe73 !important;

    border-radius: 100% !important;
    color: white !important;
}

/*must rewrite for tile active*/

.react-calendar__tile:hover {
    background-color: #189a5e !important;
    color: white !important;
}
.react-calendar__tile--active:enabled:hover {
    background-color: #127346 !important;
    color: white !important;
}

.react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px !important;
}

.today {
    border: 2px solid #1f1b13 !important;
}

.react-calendar_month-viewdays_day {
    margin: 12px !important;
}

.react-calendar__tile--now {
    background-color: transparent !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden;
}

.react-calendar__month-view__weekdays {
    display: grid !important;
    gap: 4px !important;
    justify-content: center !important;
    width: 100% !important;
    grid-template-columns: repeat(7, 1fr);
    color: #484848 !important;
    text-decoration: none !important;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0 !important;
    width: 36px !important;
    height: 28px !important;
    flex: none !important;
}

@media (min-width: 768px) {
    .react-calendar {
        width: 300px !important;
    }
}
.react-calendar__tile--now.react-calendar__tile--active {
    background-color: #189a5e !important; /* Example combined background color */
    color: white !important; /* Example combined text color */
}
